.classpath
!/.project
.project
.settings
target/
.idea/
.DS_Store
.idea
overlays/
.history
.vscode
*.iml
*.ipr

classes
.gradle
build/
gradle/wrapper/*.zip

*.log
*.log.gz
out/
MANIFEST.MF

cas/etc
*.keystore


time-core/src/main/generated/
time-core/src/main/resources/
time-dao/src/main/generated/
time-security/src/main/generated/
time-service/time-service-api/src/main/generated/
time-web/time-web-admin/src/main/generated/
/time-dao/src/main/resources/rebel.xml
/time-service/time-service-impl/src/main/generated/com/time/article/service/converter/business/
generator/
src/
time-core/src/test/
time-dao/src/test/
time-generator/src/main/
time-generator/src/test/generated_tests/
time-security/src/
time-security/time-security-browser/src/main/generated/
time-security/time-security-browser/src/main/resources/
time-security/time-security-browser/src/test/
time-security/time-security-core/src/main/generated/
time-security/time-security-core/src/main/java/com/time/article/security/core/social/
time-security/time-security-core/src/test/
time-service/src/
time-service/time-service-api/src/main/resources/
time-service/time-service-api/src/test/
time-service/time-service-impl/src/main/resources/
time-service/time-service-impl/src/test/
time-shiro/src/main/generated/
time-shiro/src/main/resources/
time-shiro/src/test/
time-web/src/
time-web/time-web-admin/src/
time-web/time-web-rest/src/main/generated/
time-web/time-web-rest/src/test/
