.main-wrapper {
    width: 100%;
}

.top-bar {
    position:relative;
    z-index:50;
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 20px;
    background: #fff;
}

.top-bar .nav-bar {
    min-height: 4.375rem;
    padding-right:0.9375rem;
}

.top-bar .nav-bar-header {
    width: 15rem;
    line-height: 4.0625rem;
    text-align: center;
}

.top-bar .nav-bar-header .navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.top-bar .nav-bar-header .navbar-brand b {
    line-height: 4.0625rem;
    display: inline-block;
}

.top-bar .navbar-nav > .nav-item > .nav-link {
    color: #000;
    font-size: 1.1875rem;
    padding-left: .5rem;
}
.top-bar .profile-pic{
    width: 30px;
    border-radius: 100%;
}
.light-logo {
    display: inline-block;
}
.dark-logo {
    display: none;
}
.sidebar-nav{
    margin-top:20px;
}
.user-profile{
    position:relative;
    background:url("/img/common/user-info.jpg") left center no-repeat;
}
.user-profile .profile-img{
    width:3.125rem;
    margin-left:1.875rem;
    border-radius:100%;
    padding:33px 0;
}
 .user-profile .profile-img:before{
    animation: 2.5s blow 0s linear infinite;
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    top: 35px;
    margin: 0 auto;
    border-radius: 50%;
    z-index: 0;
}
.user-profile .profile-img img{
    width:100%;
    border-radius:100%;
}
@keyframes blow {
    0% {
        box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.1);
        opacity: 1;
        transform: scale3d(1, 1, 0.5)
    }

    50% {
        box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1);
        opacity: 1;
        transform: scale3d(1, 1, 0.5)
    }

    to {
        box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
        opacity: 0;
        transform: scale3d(1, 1, 0.5)
    }
}
.user-profile .profile-text{
    padding: 5px 0;
    position: relative;
}
.user-profile .profile-text .profile-text-username{
    display:block;
    color: #ffffff !important;
    width: 100%;
    padding: 6px 30px;
    background: rgba(0, 0, 0, 0.5);
}