html {
    width:100%;
    height:100%;
    overflow: hidden;
}
body{
    width:100%;
    height:100%;
    background:url("/img/login/login_bg.jpg");
    background-size: cover;
    position: relative;
}
form{
    max-width:24rem;
    width:100%;
    position:absolute;
    margin:-11rem 0 0 -11rem;
    top:43%;
    left:50%;
    border: 0.12rem solid #fff;
    border-radius: 0.31rem;
    padding:2.5rem 0.93rem  1.56rem 0.93rem;
    display: block;
}
.logo{
    width:100%;
    height:100%;
}
.logo .dispatcher{
    width:6.8rem;
    height:5.4rem;
}
.captcha{
    position: absolute;
    right:0.16rem;
    width:5rem;
    z-index:100;
    border-radius:0 .25rem .25rem 0;
}