html {
    width:100%;
    height:100%;
    overflow: hidden;
}
body{
    width:100%;
    height:100%;
    background:url("/img/login_bg.jpg");
    background-size: cover;
    position: relative;
}
form{
    max-width:22rem;
    width:100%;
    position:absolute;
    margin:-11rem 0 0 -11rem;
    top:43%;
    left:50%;
}
.logo{
    width:100%;
    height:100%;
}
.logo .dispatcher,.logo img{
    width:6.8rem;
    height:5.4rem;
}
