<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.time.article.dao.mapper.business.permission.ResourceMapper">
    <sql id="baseColumn">
      a.id,
      a.name,
      a.code,
      a.icon,
      a.resource_type,
      a.level,
      a.url,
      a.parent_id,
      a.priority,
      a.path
    </sql>

    <resultMap id="baseResultMap" type="com.time.article.dao.entity.business.permission.Resource">
        <id column="id" property="id"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="resourceType" column="resource_type" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="priority" column="priority" jdbcType="INTEGER"/>
        <result property="path" column="path" jdbcType="VARCHAR"/>
        <association property="parent" javaType="com.time.article.dao.entity.business.permission.Resource">
            <id property="id" column="parent_id"/>
        </association>
    </resultMap>

    <insert id="insert">
        <selectKey keyProperty="id" resultType="integer" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into time_resource(
        create_time,
        path,
        level,
        priority,
        parent_id,
        name,
        code,
        icon,
        resource_type,
        url,
        description
        ) values(
        #{createTime},
        #{path},
        #{level},
        #{priority},
        #{parent.id},
        #{name},
        #{code},
        #{icon},
        #{resourceType},
        #{url},
        #{description}
        )
    </insert>
    <!--条件查询-->
    <select id="selectBySearch"  resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        from time_resource a
    </select>

    <update id="update">
        update
        time_resource
        set
        <if test="name!=null and name!=''">
            name=#{name},
        </if>
        <if test="code!=null and code!=''">
            code=#{code},
        </if>
        <if test="icon!=null and icon!=''">
            icon=#{icon},
        </if>
        <if test="resourceType!=null">
            resource_type=#{resourceType},
        </if>
        <if test="parent!=null and parent.id!=null">
            parent_id=#{parent.id},
        </if>
        <if test="priority!=null">
            priority=#{priority},
        </if>
        <if test="description!=null and description!=''">
            description=#{description},
        </if>
        <if test="url!=null and url!=''">
            url=#{url},
        </if>
        update_time=#{updateTime}
        where id=#{id}
    </update>

    <delete id="delete" parameterType="integer">
        delete from time_resource where id=#{id}
    </delete>

    <!--树形结构必须声明方法-->
    <!--①根据id查询-->
    <select id="selectById" resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        from time_resource a
        where a.id=#{id}
    </select>
    <!--②根据like查询id-->
    <select id="selectIdsByLike"  resultMap="baseResultMap">
        select id from time_resource a
        where a.path LIKE CONCAT("%{",#{id},"}%")
    </select>
</mapper>