<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.time.article.dao.mapper.business.permission.ResourceMapper">
    <sql id="baseColumn">
      a.id,
      a.name,
      a.code,
      a.icon,
      a.resource_type,
      a.level,
      a.url,
      a.parent_id,
      a.priority,
      a.lft,
      a.rgt
    </sql>

    <resultMap id="baseResultMap" type="com.time.article.dao.entity.business.permission.Resource">
        <id column="id" property="id"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
        <result property="code" column="code" jdbcType="VARCHAR"/>
        <result property="icon" column="icon" jdbcType="VARCHAR"/>
        <result property="resourceType" column="resource_type" jdbcType="VARCHAR"/>
        <result property="level" column="level" jdbcType="INTEGER"/>
        <result property="url" column="url" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="priority" column="priority" jdbcType="INTEGER"/>
        <result property="lft" column="lft" jdbcType="INTEGER"/>
        <result property="rgt" column="rgt" jdbcType="INTEGER"/>
        <association property="parent" javaType="com.time.article.dao.entity.business.permission.Resource">
            <id property="id" column="parent_id"/>
        </association>
    </resultMap>

    <insert id="insert">
        <selectKey keyProperty="id" resultType="integer" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into time_resource(
        create_time,
        lft,
        rgt,
        level,
        priority,
        parent_id,
        name,
        code,
        icon,
        resource_type,
        url
        ) values(
        #{createTime},
        #{lft},
        #{rgt},
        #{level},
        #{priority},
        #{parent.id},
        #{name},
        #{code},
        #{icon},
        #{resourceType},
        #{url}
        )
    </insert>

    <select id="selectBySearch"  resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        from time_resource a
<!--        <where>
            <if test="entity.ignoreId!=null">
                a.id !=#{entity.ignoreId}
            </if>
        </where>-->
    </select>


    <!--##########树形操作方法#############-->
    <!--1.查询最大右值 返回int-->
    <select id="selectMaxRgt" resultType="int">
        select COALESCE(max(rgt),0) from time_resource
    </select>
    <!--2.根据id查询-->
    <select id="selectById" resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        from time_resource a
        where a.id=#{id}
    </select>
    <!--3.更新右值-->
    <update id="updateRgt">
        update time_resource set rgt = rgt + #{array[0]} where rgt>= #{array[1]}
    </update>
    <!--4.更新左值-->
    <update id="updateLft">
        update time_resource set lft = lft + #{array[0]} where lft>= #{array[1]}
    </update>
</mapper>