<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.time.article.dao.mapper.business.permission.TestMapper">
    <insert id="save">
        insert into test (value) values("abc")
    </insert>
    <insert id="add">
        insert into time_role (description) values("aaaaa")
    </insert>
</mapper>

