@media (min-width: 768px) {
    .left-sidebar{
        width:65px;
    }
}
/*左侧导航*/
.left-sidebar{
    position:fixed;
    width:15rem;
    height:100%;
    background:#188ae2;
    top:0;
    padding-top:4.375rem;
    z-index:40;
    box-shadow: 1px 0 20px rgba(0,0,0,.08);
    transition: .2s ease-in;
}
.left-sidebar .scroll-sidebar{
    height:calc(100% - 20px);
    position:relative;
}
.left-sidebar .sidebar-nav-ul{
}
.scroll-sidebar .sidebar-nav .sidebar-nav-ul .sidebar-item .sidebar-link{
    color:#fff;
    display:flex;
    padding: 14px 15px;
    text-decoration: none;
    opacity:.6;
    white-space:nowrap;
    align-items:center;
}
.scroll-sidebar .sidebar-nav .sidebar-nav-ul .sidebar-item .sidebar-link i{
    width:35px;
    color:#fff;
    line-height:25px;
}
