<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.time.article.dao.mapper.business.user.UserMapper">
    <sql id="baseColumn">
                a.id,
                a.create_time,
                a.update_time,
                a.phone,
                a.username,
                a.email,
                a.salt,
                a.avatar,
                a.administrator,
                a.status,
                a.register_ip
    </sql>
    <!--带密码的字段-->
    <sql id="baseColumnWithPassword">
                a.id,
                a.create_time,
                a.update_time,
                a.phone,
                a.username,
                a.email,
                a.password,
                a.avatar,
                a.administrator,
                a.status,
                a.register_ip,
                a.password
    </sql>

    <resultMap id="baseResultMap" type="com.time.article.dao.entity.business.user.User">
        <id column="id" property="id"/>
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="salt" column="salt" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="administrator" column="administrator" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="registerIp" column="register_ip" jdbcType="VARCHAR"/>
    </resultMap>
    <!--带密码的结果集-->
    <resultMap id="baseResultMapWithPassword" type="com.time.article.dao.entity.business.user.User">
        <id column="id" property="id"/>
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="INTEGER"/>
        <result property="updateTime" column="update_time" jdbcType="INTEGER"/>
        <result property="phone" column="phone" jdbcType="VARCHAR"/>
        <result property="username" column="username" jdbcType="VARCHAR"/>
        <result property="email" column="email" jdbcType="VARCHAR"/>
        <result property="password" column="password" jdbcType="VARCHAR"/>
        <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
        <result property="administrator" column="administrator" jdbcType="INTEGER"/>
        <result property="status" column="status" jdbcType="INTEGER"/>
        <result property="registerIp" column="register_ip" jdbcType="VARCHAR"/>
    </resultMap>

    <!-- #添加 -->
    <insert id="insert">
        <selectKey keyProperty="id" resultType="integer" order="AFTER">
            select last_insert_id()
        </selectKey>
        insert into time_user(
         create_time,
         phone,
         username,
         email,
         password,
         salt,
         avatar,
         administrator,
         status,
         register_ip
        ) values(
         #{create_time},
         #{phone},
         #{username},
         #{email},
         #{password},
         #{salt},
         #{avatar},
         #{administrator},
         #{status},
         #{register_ip}
        )
    </insert>

    <!-- 查询 -->
    <select id="selectBySearch"  resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        from time_user a
        ORDER BY a.id DESC
    </select>
    <!--查询带密码-->
    <select id="selectPasswordByUsername" resultMap="baseResultMapWithPassword">
        select
        <include refid="baseColumnWithPassword"/>
        from time_user a
        where
        a.username = #{username}
    </select>



    <!-- 修改 -->
    <update id="update">
        update
        time_user
        set
            <if test="phone!=null">
                phone=#{phone},
            </if>
            <if test="username!=null">
                username=#{username},
            </if>
            <if test="email!=null">
                email=#{email},
            </if>
            <if test="password!=null">
                password=#{password},
            </if>
            <if test="salt!=null">
                salt=#{salt},
            </if>
            <if test="avatar!=null">
                avatar=#{avatar},
            </if>
            <if test="administrator!=null">
                administrator=#{administrator},
            </if>
            <if test="status!=null">
                status=#{status},
            </if>
            <if test="register_ip!=null">
                register_ip=#{registerIp},
            </if>
        update_time=#{updateTime}
        where id=#{id}
    </update>

</mapper>