<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.time.article.dao.mapper.user.UserMapper">
    <sql id="baseColumn">
      id,
      name
    </sql>

    <resultMap id="baseResultMap" type="com.time.article.dao.entity.business.User">
        <id property="id" column="id"/>
        <result property="name" column="name" jdbcType="VARCHAR"/>
    </resultMap>

    <select id="select" resultMap="baseResultMap">
        select
        <include refid="baseColumn"/>
        from
        USER
    </select>
</mapper>
